
<div class="center jumbotron jumbotron-edit">

  <head>
    <link rel="stylesheet" href="home.css">
  </head>  
  <h1>Welcome to the Injury Tracker App</h1>

  <h2>
    This is the home page for the
   Injury Tracker

  <h2>

<br>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <br> <br>
  <%= link_to "Log in!", login_path, class: "btn btn-lg btn-primary" %>
</div>




